/* TIPOGRAFIAS DE LA WEB */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

/* ROOT PARA VARIABLES */

:root {
  --font-size: 16px;
  --font-family: "Open Sans", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --verde-oscuro: #099d8d;
  --verde-oscuro-alpha: #099d8eef;
  --verde-claro: #14d9c4;
  --verde-claro-alpha: #14d9c5e1;
  --blanco: #ffffff;
  --blanco-alpha: rgba(255, 255, 255, 0.623);
  --negro: #000000;
  --gris-oscuro: #54585a;
  --gris-claro: #b8b8b9;
  --gris-fondo: #f1f1f1;
}

/* -------- MOBILE FIRST --------*/

.container {
  margin: 0 15px;
}

/* --------HEADER--------*/

.main-header {
  background-color: var(--verde-oscuro-alpha);
  color: var(--blanco);
  font-family: var(--font-rubik);
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-header .container {
  height: 60px;
  text-align: center;
}

.main__header-title {
  line-height: 60px;
}

.nav-header {
  width: 100vw;
  height: 45px;
  background-color: var(--verde-claro-alpha);
  line-height: 45px;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-menu a {
  font-family: var(--font-rubik);
  font-size: 15px;
  color: var(--blanco);
}

.main-menu a:hover {
  color: var(--verde-oscuro);
}

/* ------------------ HERO -----------*/

.hero {
  height: 421px;
  background-image: url(../images/hero_team_9.webp);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  z-index: 0;
}

.hero .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero__title {
  margin: 0;
  padding: 14px 15px 16px 15px;
  background-color: var(--blanco);
  transform: translateY(200px);
  text-align: justify;
  align-content: center;
}

/*EQUIPO*/
.team h2 {
  font-size: 24px;
  color: var(--verde-claro);
  text-transform: uppercase;
  padding: 30px 0 15px 0;
}

.team p {
  font-size: 16px;
  color: var(--gris-oscuro);
}

.team {
  scroll-margin-top: 105px;
  font-family: var(--font-family);
  text-align: center;
  padding: 30px 15px;
}

/*FORTALEZAS Y DEBILIDADES*/

.rectangle {
  width: 45px;
  height: 45px;
  background-color: white;
  transform: rotate(45deg);
  margin: auto;
}

.team-info p {
  font-size: 16px;
  color: var(--gris-oscuro);
  padding-bottom: 30px;
  padding-top: 15px;
}

.team-info h3 {
  font-size: 22px;
  color: var(--verde-claro);
}

.team-info {
  font-family: var(--font-family);
  background-color: rgba(184, 184, 185, 0.2);
  text-align: center;
  padding: 30px 15px 45px;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.line {
  border-top: 1px solid var(--gris-claro);
  width: 100vw;
}

.copy {
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--gris-claro);
  margin-top: 30px;
}

.img-footer {
  margin-top: 30px;
  margin-bottom: 45px;
  height: 45px;
}
.menu {
  margin-top: 20px;
}
.menu a {
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--gris-oscuro);
  text-align: center;
}

/* ABOUT */

.about {
  background-color: var(--blanco);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0;
}

.about-h2 {
  padding-bottom: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
  color: var(--verde-oscuro);
}

.about-article {
  text-align: center;
  padding-bottom: 45px;
  width: 290px;
}

.about-img {
  width: 185px;
  margin: 0 55px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.about-name {
  height: 45px;
  margin-top: 15px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 2.25;
  text-align: center;
  color: var(--negro);
}

.about-bio {
  margin-bottom: 15px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--gris-oscuro);
}

.about-socialmedia {
  margin: 0 68px 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa {
  color: var(--verde-oscuro);
  font-size: 1rem;
}

.fa:hover {
  color: var(--gris-oscuro);
  transform: scale(1.5);
}

/* ===================TABLET VERSION===================*/

@media all and (min-width: 768px) {
  .container {
    margin: 0 45px;
  }

  /* ------------------ HEADER TABLET -----------*/

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main__header-title {
    font-size: 16px;
  }

  .nav-header {
    background-color: transparent;
    width: 50%;
  }

  .main-menu {
  }

  /* ------------------ HERO -----------*/

  .hero__title {
    width: 441px;
    /* height: 80px; */
    padding: 15px 30px;
    background-color: var(--blanco-alpha);
    transform: translateY(170px);
  }
  /*EQUIPO*/

  /*FORTALEZAS Y DEBILIDADES*/
  .team-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /*FOOTER*/
  .footer {
    display: flex;
    flex-direction: column;
  }
  .copy {
    margin-top: 30px;
    text-align: left;
  }
  .menu {
    transform: translate(0px, -40px);
    line-height: 30px;
    order: 1;
    text-align: right;
  }
  .img-footer {
    margin-top: 15px;
  }
  .box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  /*QUIENES SOMOS*/

  .about-article {
    width: 680px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
  }

  .revert {
    display: flex;
    flex-direction: row-reverse;
  }

  .revert-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .text-bio {
    text-align: left;
  }

  .about-bio {
    text-align: left;
  }

  .revert-text {
    text-align: right;
  }

  .about-img {
    width: 210px;
  }

  .about-socialmedia {
    width: 124px;
    margin: 0;
  }
}

@media all and (min-width: 1200px) {
  .container {
    margin: 0 138px;
  }
  /*EQUIPO*/
  .team {
    padding-bottom: 60px;
    padding-top: 45px;
    max-width: 601px;
    margin: auto;
  }

  /*FORTALEZAS Y DEBILIDADES*/
  .team-info {
    padding-bottom: 60px;
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /*QUIENES SOMOS*/
}
