:root {
  --font-family: "Open Sans", sans-serif;
}
/*EQUIPO*/
.team h2 {
  font-size: 24px;
  color: #14d9c4;
}

.team p {
  font-size: 16px;
  color: #54585a;
}

.team {
  font-family: var(--font-family);
  text-align: center;
  padding: 30px 15px;
}

/*FORTALEZAS Y DEBILIDADES*/
.team-info p {
  font-size: 16px;
  color: #54585a;
  padding-bottom: 30px;
  padding-top: 15px;
}

.team-info h3 {
  font-size: 22px;
  color: #14d9c4;
}

.team-info {
  font-family: var(--font-family);
  background-color: rgba(184, 184, 185, 0.2);
  text-align: center;
  padding: 30px 15px 45px;
}
