/* STYLES FORM */

.form {
  padding-top: rem(58);
  display: flex;
  flex-direction: column;
  margin: 0 rem(15);
  @include tablet {
    @include contentCentered(442px);
  }
  @include desktop {
    @include contentCentered(601px);
  }
  &_label {
    font-size: rem(14);
    color: $dark-grey;
    font-family: $main-font;
    margin-top: rem(13);
    margin-bottom: rem(7);
  }
  &_input {
    height: rem(45);
    border: 1px solid $light-grey;
    border-radius: 2px;
    font-size: rem(14);
    color: $dark-grey;
    padding-left: rem(15);
    &::placeholder {
      font-size: 14px;
      color: $light-grey;
    }
  }
  &_submit--button {
    margin-top: rem(30);
    margin-bottom: rem(60);
    background-color: $main-color;
    height: rem(45);
    color: $white;
    border-radius: 2px;
    text-transform: uppercase;
  }
}

.form_sub {
  display: flex;
  flex-direction: column;
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-item {
    display: flex;
    flex-direction: column;
    &--email {
      @include desktop {
        width: 65%;
      }
    }
  }
}
