/* STYLES FORM */

.form {
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  @include tablet {
    @include contentCentered(442px);
  }
  @include desktop {
    @include contentCentered(601px);
  }
  &_label {
    font-size: 14px;
    color: var(--gris-oscuro);
    font-family: var(--font-family);
    margin-top: 13px;
    margin-bottom: 7px;
  }
  &_input {
    height: 45px;
    border: 1px solid var(--gris-claro);
    border-radius: 2px;
    font-size: 14px;
    color: var(--gris-claro);
    padding-left: 15px;
  }
  &_submit--button {
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: var(--verde-oscuro);
    height: 45px;
    color: var(--blanco);
    border-radius: 2px;
    text-transform: uppercase;
  }
}

.form_sub {
  display: flex;
  flex-direction: column;
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-item {
    display: flex;
    flex-direction: column;
    &--email {
      @include desktop {
        width: 65%;
      }
    }
  }
}
