<section class="about" id="quienes">
    <h2 class="about__h2">QUIÉNES SOMOS</h2>

    <div class="container">

        <article class="about__article">
            <div class="about__img--left">
                <img class="about__img about-breaking" src="./assets/images/foto_alba_vidal.jpg" /> <img class="about__img" src="./assets/images/foto_alba_vidal-BW.jpg">
            </div>
            <div class="about__text--left">
                <h3 class="about__name">Alba Vidal</h3>
                <p class="about__bio">De Barcelona, autodidacta y con espíritu innovador. Aunque me gustaba
                    montar mis propios ordenadores y trastear con la informática, me formé en la gestión
                    comercial y el marketing. Una vez descubrí el desarrollo Front End supe que había llegado a
                    mi vida para quedarse y hacer de él mi profesión.</p>
                <ul class="about__socialmedia">
                    <li><a href="" target=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="https://www.linkedin.com/in/albavidalm/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="https://github.com/albavidalm" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="mailto:albavidalm@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </article>

        <article class="about__article">
            <div class="about__img--right">
                <img class="about__img about-breaking" src="./assets/images/foto_andrea_menendez.jpg"> <img class="about__img" src="./assets/images/foto_andrea_menendez-BW.jpg">
            </div>
            <div class="about__text--right">
                <h3 class="about__name">Andrea Menéndez</h3>
                <p class="about__bio">De Huelva, aunque mi corazón reside en Sevilla, donde cursé mi carrera
                    fallida en Arquitectura. Actualmente tengo toda mi motivación puesta en desarrollar mi
                    carrera profesional como Front-End Developper. La motivación que me queda se la dedico al
                    CrossFit.</p>
                <ul class="about__socialmedia">
                    <li><a href="" target=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="https://www.linkedin.com/in/andrea-men%C3%A9ndez-gil-a587a5106/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="https://github.com/adrmenendez" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="" target=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </article>

        <article class="about__article">
            <div class="about__img--left">
                <img class="about__img about-breaking" src="./assets/images/foto_rocio_garrido.JPG"> <img class="about__img" src="./assets/images/foto_rocio_garrido-BW.jpg">
            </div>
            <div class="about__text--left">
                <h3 class="about__name">Rocío Garrido</h3>
                <p class="about__bio">De Granada, donde estudié Traducción e Interpretación, mi pasión por
                    conocer otras lenguas y culturas me llevó a enseñar la mía propia en Rusia y Serbia.
                    Entusiasta de la comunicación y consciente del rol fundamental
                    de la tecnología en la actualidad, entiendo la programación como un lenguaje de comunicación
                    persona-máquina que estoy deseando aprender.</p>
                <ul class="about__socialmedia">
                    <li><a href="https://twitter.com/Rocio_Garrido_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="https://www.linkedin.com/in/rociogarridoanon/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="https://github.com/rociogarrido" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="mailto:rocioganon@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </article>

        <article class="about__article">
            <div class="about__img--right">
                <img class="about__img about-breaking" src="./assets/images/foto_sofia_murias.jpg"> <img class="about__img" src="./assets/images/foto_sofia_murias-BW.jpg">
            </div>
            <div class="about__text--right">
                <h3 class="about__name">Sofía Murias</h3>
                <p class="about__bio">Intérprete de Lengua de Signos y animadora infantil, con ganas de
                    reinventarme profesionalmente, el destino me hizo conocer Adalab, y... ¡aquí estoy con el
                    propósito de convertirme en programadora! Seguiré moviendo las manos, pero esta vez sobre
                    teclado.</p>
                <ul class="about__socialmedia">
                    <li><a href="https://twitter.com/Sofia_muriaslo" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="" target=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="https://github.com/SofiaMurias" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li class="icon__point">·</li>
                    <li><a href="mailto:sofiamuriaslopez@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </article>
    </div>
</section>