<footer class="line">
  <section class="footer container">
    <div class="copy">
      <p>Breaking Code © 2021</p>
    </div>

    <section class="menu">
      <nav>
        <ul class="menu__links">
          <li class="menu__links--item"><a href="@@linkequipo">EQUIPO</a></li>
          <li class="menu__links--item"><a href="@@linkquienes">QUIENES SOMOS</a></li>
          <li class="menu__links--item"><a href="./contact.html">CONTACTO</a></li>
        </ul>
      </nav>
      <a title="Adalab" href="http://www.adalab.es" target="_blank"> <img class="img-footer" src="./assets/images/logo-adalab.png" alt="Adalab">
    </section>
  </section>
</footer>