<footer class="line">
  <section class="footer container">
    <div class="copy">
      <p>Breaking Code © 2021</p>
    </div>

    <section class="box">
      <nav>
        <ul class="menu">
          <li class="menu1"><a href="@@linkequipo">EQUIPO</a></li>
          <li class="menu2"><a href="@@linkquienes">QUIENES SOMOS</a></li>
          <li class="menu3"><a href="./contact.html">CONTACTO</a></li>
        </ul>
      </nav>
      <a title="Adalab" href="http://www.adalab.es"> <img class="img-footer" src="../assets/images/logo-adalab.png"
          alt="Adalab">
    </section>
  </section>
</footer>