<header class="header">
  <div class="container">
    <a href="index.html" title="Home">
      <img class="header__logo" src="./assets/images/breaking-code-button-white.png" alt="Breaking Code">
    </a>
    <h1 class="header__title">Breaking Code</h1>
  </div>

  <div class="nav-header">
    <ul class="nav__links container">
      <li><a class="nav__links--item" href="@@linkequipo">EQUIPO</a></li>
      <li><a class="nav__links--item" href="@@linkquienes">QUIENES SOMOS</a></li>
      <li><a class="nav__links--item" href="./contact.html">CONTACTO</a></li>
    </ul>
  </div>
</header>