<header class="main-header">
  <div class="container">
    <a href="index.html" title="Home">
      <img class="logo" src="./assets/images/breaking-code-button-white.png" alt="Breaking Code">
    </a>
    <h1 class="main__header-title">Breaking Code</h1>
  </div>

  <div class="nav-header">
    <ul class="main-menu container">
      <li class="main-menu__item"><a href="#equipo">EQUIPO</a></li>
      <li class="main-menu__item"><a href="#quienes">QUIENES SOMOS</a></li>
      <li class="main-menu__item"><a href="./contact.html">CONTACTO</a></li>
    </ul>
  </div>
</header>