$font-size: 16;
$main-font: "Open Sans", sans-serif;
$second-font: "Rubik", sans-serif;
$main-color: #099d8d;
$main-color-alpha: #099d8eef;
$second-color: #14d9c4;
$second-color-alpha: #14d9c5e1;
$white: #ffffff;
$white-alpha: rgba(255, 255, 255, 0.623);
$black: #000000;
$dark-grey: #54585a;
$light-grey: #b8b8b9;
$background-grey: #f1f1f1;
