/* INTRO CONTACT */

.contact {
  text-align: center;
  padding-top: rem(30);
  @include desktop {
    @include contentCentered(601px);
    padding-top: rem(45);
  }
  &_title {
    text-transform: uppercase;
    padding-bottom: rem(15);
    font-family: $second-font;
    font-size: rem(24);
    text-align: center;
    color: $main-color;
  }
  &_text {
    font-family: $main-font;
    color: $dark-grey;
    font-size: rem(16);
    margin-bottom: rem(20);
    &--little {
      color: $dark-grey;
      font-family: $main-font;
      font-size: rem(12);
    }
  }
}
