/* ------ CONTAINER ------*/
.container {
  margin: 0 15px;
  @include tablet {
    margin: 0 45px;
  }
  @include desktop {
    margin: 0 138px;
  }
}
/* -------- HERO --------*/

.hero {
  height: rem(421);
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family: $main-font;
  z-index: 0;
  &__title {
    margin: 0;
    padding: rem(14) rem(15) rem(16) rem(15);
    background-color: $white;
    transform: translateY(200px);
    text-align: justify;
    align-content: center;
    @include tablet {
      width: rem(441);
      padding: rem(15) rem(30);
      background-color: $white-alpha;
      transform: translateY(170px);
    }
  }
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

/*EQUIPO*/

.team {
  scroll-margin-top: rem(105);
  font-family: $main-font;
  text-align: center;
  padding: rem(30) rem(15);
  &_title {
    font-size: rem(24);
    color: $second-color;
    text-transform: uppercase;
    padding: rem(30) 0 rem(15) 0;
    @include tablet {
      color: $main-color;
    }
  }
  &_text {
    font-size: rem(16);
    color: $dark-grey;
  }
  @include desktop {
    padding-bottom: rem(60);
    padding-top: rem(45);
    @include contentCentered(601);
  }
}

/*FORTALEZAS Y DEBILIDADES*/

.rectangle {
  width: rem(45);
  height: rem(45);
  background-color: $white;
  transform: rotate(45deg) scale(1.5);
  margin: auto;
}

.dafo {
  text-align: center;
  padding: rem(30) rem(15) rem(45);
  font-family: $main-font;
  &_background {
    background-color: rgba(184, 184, 185, 0.2);
  }
  &_title {
    font-size: rem(22);
    color: $second-color;
    @include tablet {
      color: $main-color;
    }
  }
  &_text {
    font-size: rem(16);
    color: $dark-grey;
    padding-bottom: rem(30);
    padding-top: rem(15);
  }
  &_strengths {
    @include desktop {
      max-width: rem(439);
      padding-right: rem(25);
    }
  }
  &_weaknesses {
    @include desktop {
      max-width: rem(439);
      padding-left: rem(25);
    }
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  @include desktop {
    padding-bottom: rem(60);
    padding-top: rem(45);
    @include contentCentered(924px);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
