/* ------ CONTAINER MOBILE FIRST ------*/
.container {
  margin: 0 15px;
  @include tablet {
    margin: 0 45px;
  }
  @include desktop {
    margin: 0 138px;
  }
}
/* ------------------ HERO -----------*/

.hero {
  height: 421px;
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family: $main-font;
  z-index: 0;
}

.hero .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero__title {
  margin: 0;
  padding: 14px 15px 16px 15px;
  background-color: $white;
  transform: translateY(200px);
  text-align: justify;
  align-content: center;
}

/*EQUIPO*/

.team {
  scroll-margin-top: 105px;
  font-family: $main-font;
  text-align: center;
  padding: 30px 15px;
  &_title {
    font-size: 24px;
    color: $second-color;
    text-transform: uppercase;
    padding: 30px 0 15px 0;
    @include tablet {
      color: $main-color;
    }
  }
  &_text {
    font-size: 16px;
    color: $dark-grey;
  }
  @include desktop {
    padding-bottom: 60px;
    padding-top: 45px;
    max-width: 601px;
    margin: auto;
  }
}

/*FORTALEZAS Y DEBILIDADES*/

.rectangle {
  width: 45px;
  height: 45px;
  background-color: $white;
  transform: rotate(45deg) scale(1.5);
  margin: auto;
}

.dafo {
  text-align: center;
  padding: 30px 15px 45px;
  font-family: $main-font;
  &_background {
    background-color: rgba(184, 184, 185, 0.2);
  }
  &_title {
    font-size: 22px;
    color: $second-color;
    @include tablet {
      color: $main-color;
    }
  }
  &_text {
    font-size: 16px;
    color: $dark-grey;
    padding-bottom: 30px;
    padding-top: 15px;
  }
  &_strengths {
    @include desktop {
      max-width: 439px;
      padding-right: 25px;
    }
  }
  &_weaknesses {
    @include desktop {
      max-width: 439px;
      padding-left: 25px;
    }
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  @include desktop {
    padding-bottom: 60px;
    padding-top: 45px;
    @include contentCentered(924px);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
