#quienes {
  scroll-margin-top: 105px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: rem(30);
  @include tablet {
    align-items: center;
  }
  &__h2 {
    padding-bottom: rem(30);
    font-family: $second-font;
    font-size: rem(24);
    font-weight: 500;
    text-align: center;
    color: $main-color;
  }
  &__article {
    text-align: center;
    padding-bottom: rem(45);
    @include tablet {
      max-width: rem(680);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: rem(45);
      margin-bottom: rem(60);
    }
    @include desktop {
      max-width: rem(924);
    }
  }
  &__img {
    object-fit: cover;
    width: rem(185);
    height: rem(185);
    border-radius: rem(4);
    border: solid rem(5) rgba(0, 0, 0, 0.08);
    @include tablet {
      width: rem(210);
      height: rem(210);
    }
    @include desktop {
      width: rem(283);
      height: rem(283);
    }
    &--left {
      grid-column: 1/2;
      grid-row: 1;
    }
    &--right {
      grid-column: 3/4;
      grid-row: 1;
    }
  }

  .about-breaking {
    position: absolute;
  }
  .about-breaking:hover {
    opacity: 0;
    transition: ease-in 0.5s;
  }

  &__text--left {
    @include tablet {
      grid-column: 2/4;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
    }
  }
  &__text--right {
    @include tablet {
      grid-column: 1/3;
      grid-row: 1;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__name {
    font-family: $main-font;
    font-size: rem(20);
    line-height: 2.25;
    text-align: center;
    color: $black;
  }
  &__bio {
    margin-bottom: rem(15);
    font-family: $main-font;
    line-height: 1.5;
    color: $dark-grey;
    @include desktop {
      max-width: rem(440);
    }
  }
  &__socialmedia {
    color: $main-color;
    size: rem(16);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include tablet {
      margin: 0;
      max-width: rem(124);
    }
    a {
      padding: 0 5px;
    }
  }
}

.fa {
  color: $main-color;
  font-size: 1rem;
  &:hover {
    color: $dark-grey;
    transform: scale(1.5);
  }
}

.icon__point {
  color: $main-color;
  font-size: rem(30);
}
