/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.line {
  border-top: 1px solid $light-grey;
  width: 100vw;
}

.copy {
  font-size: rem(14);
  font-family: $main-font;
  color: $light-grey;
  margin-top: rem(30);
  @include tablet {
    text-align: left;
  }
}

.img-footer {
  margin-top: rem(30);
  margin-bottom: rem(45);
  height: rem(45);
  @include tablet {
    margin-top: rem(15);
  }
}

.menu {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &__links {
    margin-top: rem(20);
    @include tablet {
      transform: translate(0, rem(-40));
      line-height: rem(30);
      order: 1;
      text-align: right;
    }
    a {
      font-size: rem(14);
      font-family: $main-font;
      color: $dark-grey;
      text-align: center;
      &:hover {
        color: $main-color;
      }
    }
  }
}
