.header {
  background-color: $main-color-alpha;
  color: $white;
  font-family: $second-font;
  position: sticky;
  top: 0;
  z-index: 1;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.header .container {
  height: 60px;
  text-align: center;
}

.container .header__logo {
  width: 160px;
  padding: 15px 0;
}

.header__logo:hover {
  transform: scale(1.2);
  transition: all 0.3s ease 0.1s;
}

.header__title {
  color: transparent;
  @include tablet {
    font-size: 16px;
  }
}

.nav-header {
  width: 100vw;
  height: 45px;
  background-color: $second-color-alpha;
  line-height: 45px;
  @include tablet {
    background-color: transparent;
    width: 50%;
  }
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__links a {
  font-family: $second-font;
  font-size: 15px;
  color: $white;
}

.nav__links a:hover {
  color: $main-color;
  @include tablet {
    color: $second-color;
  }
}
