@import "core/reset";
@import "core/variables";
@import "core/mixins";
@import "layout/header";
@import "layout/footer";
@import "layout/about";
@import "pages/index";
@import "pages/contact";

/* TIPOGRAFIAS DE LA WEB */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

/* ROOT PARA VARIABLES */

:root {
  --font-size: 16px;
  --font-family: "Open Sans", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --verde-oscuro: #099d8d;
  --verde-oscuro-alpha: #099d8eef;
  --verde-claro: #14d9c4;
  --verde-claro-alpha: #14d9c5e1;
  --blanco: #ffffff;
  --blanco-alpha: rgba(255, 255, 255, 0.623);
  --negro: #000000;
  --gris-oscuro: #54585a;
  --gris-claro: #b8b8b9;
  --gris-fondo: #f1f1f1;
}

/* ===================TABLET VERSION===================*/

@media all and (min-width: 768px) {
  /* ------------------ HERO -----------*/

  .hero__title {
    width: 441px;
    /* height: 80px; */
    padding: 15px 30px;
    background-color: var(--blanco-alpha);
    transform: translateY(170px);
  }
  /*EQUIPO*/

  .team h2 {
    color: var(--verde-oscuro);
  }

  /*FORTALEZAS Y DEBILIDADES*/
  .team-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .team-info h3 {
    color: var(--verde-oscuro);
  }

  /*QUIENES SOMOS*/

  .about-article {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
  }

  .revert {
    display: flex;
    flex-direction: row-reverse;
  }

  .revert-text {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .revert-text p {
    text-align: right;
  }

  .text-bio {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .text-bio p {
    text-align: left;
  }

  .about-img {
    width: 210px;
  }

  .about-socialmedia {
    width: 124px;
    margin: 0;
  }

  /*FOOTER*/
  .footer {
    display: flex;
    flex-direction: column;
  }
  .copy {
    margin-top: 30px;
    text-align: left;
  }
  .menu {
    transform: translate(0px, -40px);
    line-height: 30px;
    order: 1;
    text-align: right;
  }
  .img-footer {
    margin-top: 15px;
  }
  .box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
/*DESKTOP VERSION*/
@media all and (min-width: 1200px) {
  /*EQUIPO*/
  .team {
    padding-bottom: 60px;
    padding-top: 45px;
    max-width: 601px;
    margin: auto;
  }

  /*FORTALEZAS Y DEBILIDADES*/
  .team-info {
    padding-bottom: 60px;
    padding-top: 45px;
    max-width: 924px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .fortalezas {
    max-width: 439px;
    padding-right: 25px;
  }

  .debilidades {
    max-width: 439px;
    padding-left: 25px;
  }

  /*QUIENES SOMOS*/
  .about {
    max-width: 924px;
    margin: 0 auto;
  }

  .revert {
    margin-right: -160px;
  }

  .normal-article {
    margin-left: -160px;
  }
}
